@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
} 

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
}


/* --- HOME & HEADER --- */

.middle {
    display: flex;
    flex-direction: column;
}

.offerings {
    display: flex;
    width: 100%;
}

.header {
    background-color: #476377;
    color: #86ecb8;
    font-size: 50px;
    position: relative;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.heading {
    position: absolute;
    top: 0;
    left: 36vw;
    margin-top: 50px;
}

h1 {
    font-family: 'Abril Fatface', sans-serif;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 28px;
} 

.images > img {
    width: 200px;
    height: 200px;
    margin-right: 25px;
}

.images > .large-img {
    height: 336px;
}


/* --- LESSONS & CLASSES & ABOUT --- */

.lessons,
.classes,
.about {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.lessons,
.classes {
    width: 50vw;
}

.lessons {
    background-color: #005a2c;
    color: #F7F6F7;
}

.classes {
    background-color: #F7F6F7;
    color: #284D68;
}

.lessons > *,
.classes > * {
    margin-left: 30px;
    margin-right: 30px;
}

.lessons-header, 
.classes-header,
.about-header {
    font-family: 'Abril Fatface', serif;
    font-size: 48px;
    letter-spacing: 1px;
    margin-top: 10px;
    padding-bottom: 40px;
}

.lessons-intro,
li {
    color: #b3ffd8;
}

.lessons-intro {
    margin-bottom: 40px;
}

.lessons-list, 
li {
    text-align: left;
}

.lessons-list {
    font-size: 17px;
    margin-bottom: 10px;
}

.lessons > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    margin-bottom: 50px;
}

.lessons-price {
    margin-bottom: 35px;
}

/*.classes-description {
    margin-bottom: 20px;
}

.classes-season {
    margin-bottom: 30px;
    color: rgb(199, 0, 0);
}

.classes-list {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
    color: #005a2c;
    margin-bottom: 46px;
}

.classes-swing {
    grid-column: span 2;
}

.classes-name {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
}*/

a {
    padding-left: 4px;
}

a:hover {
    color: #005a2c;
}

.about {
    width: 100%;
    background-color: #86ecb8;
}

.about-credentials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.about-credentials-description {
    margin-bottom: 10px;
}

.about-credentials-list > li {
    color: black;
}

.about-email {
    margin-bottom: 30px;
}

.about-contact {
    margin-left: 30px;
    margin-right: 30px;
}

.about-contact > a > img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}


/* --- FOOTER --- */

.footer {
    background-color: #9ba5a5;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.5px;
}


/* --- RESPONSIVE STYLES --- */

@media (min-width: 1700px) {
    .heading {
        left: 40vw;
    }

}

@media (max-width: 950px) {
    .header {
        font-size: 40px;
        height: 440px;
    }

    .heading {
        margin-top: 40px;
    }

    .images > img {
        width: 160px;
        height: 160px;
    }

    .images > .large-img {
        height: 269px;
    }

    .lessons,
    .classes {
        font-size: 14px;
    }
}

@media (max-width: 850px) {
    .header {
        height: 400px;
    }

    .heading {
        top: 20px;
        left: 30vw;
        margin-top: 10px;
    }

    .lessons-header,
    .classes-header,
    .about-header {
        font-size: 40px;
    }
}

@media (max-width: 750px) {
    .offerings {
        flex-direction: column;
    }

    .lessons,
    .classes,
    .about {
        width: 100vw;
        font-size: 15px;
    }

    .header {
        font-size: 35px;
        height: 340px;
    }

    .heading {
        left: 32vw;
    }

    .images > img {
        width: 120px;
        height: 120px;
    }

    .images > .large-img {
        height: 202px;
    }

    .lessons-price,
    .classes-link {
        margin-bottom: 20px;
    }
}

@media (max-width: 650px) {
    .header {
        font-size: 32px;
        height: 320px;
    }

    .heading {
        left: 30vw;
    }

    h2 {
        font-size: 20px;
    }

    .images > img {
        margin-right: 15px;
    }

    .lessons-list {
        font-size: 16px;
    }

    .lessons > ul {
        font-size: 14px;
    }
}

@media (max-width: 550px) {
    .header {
        font-size: 30px;
    }

    .heading {
        text-align: center;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 70px;
        width: 100vw;
    }

    .images > img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    .images > .large-img {
        height: 168px;
    }

    .lessons > ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 450px) {
    .header {
        height: 300px;
    }

    .images > img {
        width: 80px;
        height: 80px;
        margin-right: 5px;
    }

    .images > .large-img {
        height: 134px;
    }

    .lessons-header, 
    .classes-header,
    .about-header {
        padding-bottom: 26px;
    }

    .lessons > *,
    .classes > *,
    .about-credentials-description,
    .about-contact {
        margin-left: 20px;
        margin-right: 20px;
    }

    .lessons-intro {
        margin-bottom: 30px;
    }

    .lessons-list {
        text-align: center;
    }

    .lessons > ul {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
        margin-left: 26vw;
    }

    .classes-description {
        margin-bottom: 40px;
    }

    .classes-list {
        margin-bottom: 50px;
    }
}

@media (max-width: 350px) {
    .header {
        height: 280px;
        font-size: 24px;
    }

    .images > img {
        width: 70px;
        height: 70px;
        margin-right: 2px;
    }

    .images > .large-img {
        height: 118px;
    }

    .lessons-header, 
    .classes-header,
    .about-header {
        font-size: 32px;
    }

    .lessons > *,
    .classes > *,
    .about-credentials-description,
    .about-contact {
        margin-left: 10px;
        margin-right: 10px;
    }

    .classes {
        font-size: 13px;
    }
}

@media (max-width: 300px) {
    .header {
        height: 230px;
        font-size: 20px;
    }

    .heading {
        top: 50px;
    }

    h2 {
        font-size: 18px;
    }

    .images > img {
        width: 60px;
        height: 60px;
    }

    .images > .large-img {
        height: 101px;
    }

    .lessons,
    .classes,
    .about {
        font-size: 13px;
    }

    .lessons-header, 
    .classes-header,
    .about-header {
        font-size: 28px;
    }

    .lessons > ul {
        margin-left: 16vw;
        font-size: 13px;
    }

    .lessons-list {
        font-size: 15px;
    }
}