@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Abril Fatface';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.woff') format('woff'), /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+, iOS 5+ */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.ttf') format('truetype'), /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
         url('./assets/fonts/abril-fatface-v23-latin/abril-fatface-v23-latin-regular.svg#AbrilFatface') format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot'); /* IE9 Compat Modes */
    src: url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./assets/fonts/poppins-v20-latin/poppins-v20-latin-italic.svg#Poppins') format('svg'); /* Legacy iOS */
} 

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    cursor: default;
}


/* --- HOME --- */

.middle {
    display: flex;
    flex-direction: column;
}

.offerings {
    display: flex;
    width: 100%;
}


/* --- HEADER --- */

.header {
    background-color: #476377;
    color: #86ecb8;
    font-size: 50px;
    position: relative;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.heading {
    position: absolute;
    top: 0;
    left: 36vw;
    margin-top: 50px;
}

h1 {
    font-family: 'Abril Fatface', sans-serif;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 28px;
} 

.images > img {
    width: 200px;
    height: 200px;
    margin-right: 25px;
}

.images > .large-img {
    height: 336px;
}


/* --- LESSONS  & CLASSES --- */

.lessons,
.classes {
    width: 50vw;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height: 1.5;
}

.lessons {
    background-color: #005a2c;
    color: #F7F6F7;
}

.classes {
    background-color: #F7F6F7;
    color: #284D68;
}

.lessons > *,
.classes > * {
    margin-left: 30px;
    margin-right: 30px;
}

.lessons-header, 
.classes-header {
    font-family: 'Abril Fatface', serif;
    font-size: 48px;
    letter-spacing: 1px;
    margin-top: 10px;
    padding-bottom: 40px;
}

.lessons-intro,
li {
    color: #b3ffd8;
}

.lessons-intro {
    margin-bottom: 40px;
}

.lessons-list, 
li {
    text-align: left;
}

.lessons-list {
    font-size: 17px;
    margin-bottom: 10px;
}

.lessons > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    margin-bottom: 50px;
}

.lessons-price {
    margin-bottom: 35px;
}

.classes-list {
    display: flex;
}

/*.left-content > .link {
    color: #75ffff;
}*/


/* --- ABOUT --- */

.about {
    width: 100%;
    background-color: #86ecb8;
}

/* .right {
    //background-color: #F7F6F7;
    //width: 50vw;
    //color: #284D68;
    font-size: 18px;
}*/

.about-header {}

/* REPEATED ABOVE: .left-header, .right-header {
    text-align: center;
    letter-spacing: 1px;
    font-size: 50px;
    margin-top: 10px;
    padding-bottom: 20px;
}*/

.about-contact {}

/*.contact {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}*/

.about-contact > .phone {}

/*.contact > .phone {
    margin: 20px 20px 0px 20px;
}

.phone > a {
    color: rgb(25, 25, 202);
    text-decoration: none;
}

.contact > a {
    display: inline-block;
}

.contact > a > img {
    width: 40px;
    height: 40px;
}*/

.about-credentials {}

/*.credentials {
    margin-top: 30px;
    margin-left: 30px;
    font-family: 'Poppins', sans-serif;
}*/

.about-credentials-description {}

.about-credentials-list {}

.about-credentials-list > li {}

/*.cred-list > li {
    color: #005a2c;
    font-size: 16px;
    margin-top: 5px;
}*/

.about-sendoff {}

/*.sendoff-text {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-size: 17px;
    margin: 40px 20px 0px;
}*/


/* --- FOOTER --- */

.footer {
    background-color: #9ba5a5;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    letter-spacing: 0.5px;
}


/* --- RESPONSIVE STYLES --- */